<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<h1>Hello!</h1>
		<p class="something">Welcome to our barbershop.</p>
		<p>We are open.</p>

		<form action="/" method="POST">
			
			Your name: <br>
			<input type="text" name="user_name"><br>
			
			Your phone: <br>
			<input type="text" name="phone"><br>
			
			Your time: <br>
			<input type="text" name="date_time"><br>

			<input type="submit" class="btn btn-success">
			
		</form>
	</body>
</html>