<h2>Hello, admin</h2>

<p>
	Enter your login and password
</p>

<form action="/admin" method="POST">
	
	Your login: <br>
	<input type="text" name="login"><br>
	
	Your password: <br>
	<input type="text" name="password"><br>

	<input type="submit">
	
</form>