<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label for="exampleFormControlInput1">Ваше имя</label>
    <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput2">Ваш телефон</label>
    <input name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ваш телефон">
  </div>



  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Ваш комментарий</span>
    </div>
    <textarea name="textarea" class="form-control" aria-label="With textarea"></textarea>
  </div>
  

  <input type="date" class="form-control" id="date" name="datetime" placeholder="Дата" required>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите парикмахера</label>
    <select name="chairman" class="form-control" id="exampleFormControlSelect1">
      <option> </option>
      <option>Уолтер</option>
      <option>Джесси</option>
      <option>Сол</option>
      <option>Фрэнк</option>
    </select>
  </div>
  

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
