<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>
<!--
  <div class="form-group">
   <form action="textarea" method="post">
      <p><b>Введите ваш текст:</b></p>
      <p><textarea rows="10" cols="45" name="textarea1"></textarea></p>
    </form>
  </div>
-->

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
