<h2>Наш адрес</h2>
<p>Минск, ул. Купалы, 33, пом. 4</p>
<h2>Наши телефоны</h2>
<p>+37517-111-22-33</p>
<p>+37533-111-22-33</p>
<p>+37544-111-22-33</p>
<h2>Наша почта</h2>
<p>barbershop@barbershop.com</p>

<h2>Обратная связь</h2>

<form action="/contact" method="POST" role="form">
	
	<div class="form-group">
		<label>Ваше имя</label>
		<input type="text" name="name" class="form-control" placeholder="Ваше имя">
  </div>

 <div class="form-group">
    <label>Ваше предложение</label>
    <textarea name="body" class="form-control" rows="3"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Отправить</button>

</form>