	<div class="form-group">
    <label>Ваш парикмахер:</label>
    <select name="barber" class="form-control">
      <option>Jessie Pinkman</option>
      <option>Walter White</option>
      <option>Gus Fring</option>
    </select>
  </div>